@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --main:  #040680
    }
}
/* 
.custom-shape-divider-top-1705403868 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1705403868 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 250px;
}

.custom-shape-divider-top-1705403868 .shape-fill {
    fill: #040680;
}

.ball {
    position: relative;
    bottom: 50px;
    left: calc(100% - 20px);
    width: 50px;
    height: 50px;
    background: #040680;
    border-radius: 50%;
    animation: ball-move8234 3s ease-in-out 1s infinite alternate;
  }
  
  .ball::after {
    position: absolute;
    content: '';
    top: 25px;
    right: 5px;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
  }
  
  .bar {
    width: 200px;
    height: 12.5px;
    background: #FFDAAF;
    border-radius: 30px;
    transform: rotate(-15deg);
    animation: up-down6123 5s ease-in-out 1s infinite alternate;
  }
  
  @keyframes up-down6123 {
    from {
      transform: rotate(-15deg);
    }
  
    to {
      transform: rotate(15deg);
    }
  }
  
  @keyframes ball-move8234 {
    from {
      left: calc(100% - 40px);
      transform: rotate(360deg);
    }
  
    to {
      left: calc(0% - 20px);
      transform: rotate(0deg);
    }
  } */

  .custom-shape-divider-bottom-1705406668 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1705406668 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 253px;
}

.custom-shape-divider-bottom-1705406668 .shape-fill {
    fill: #040680;
}